# Maven
target/
*.log

# Coverage
target/site/
jacoco.exec

# IDEs
/.idea
/.classpath
/.project
/.settings
*.iml

# OS
.DS_Store
Thumbs.db

# Temp
*.tmp

# Docker
*.tar

# Imagenes subidas durante ejecución
dogs-service/uploads/dogs/
cats-service/uploads/cats/